* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  display: flex;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-container {
  width: 16vw;
  min-height: 100vh;
  flex-shrink: 0;
  flex-wrap: wrap;
  background: #d9d9d9;
}

.sidebar-logo {
  width: 269px;
  height: 154px;
  flex-shrink: 0;
  border-radius: 77px;
  background-image: url("pictures/kupler-removebg.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 46px;
  position: relative;
}

h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#create {
  position: relative;
  top: 352px;
  left: 89px;
  right: 90px;
}

#read {
  position: relative;
  top: 408px;
  left: 101px;
  right: 103px;
}

#update {
  position: relative;
  top: 464px;
  left: 87px;
  right: 88px;
}

#delete {
  position: relative;
  top: 520px;
  left: 89px;
  right: 92px;
}

.header-container {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  background: #e4e4e4;
  /* display: flex;
    flex-direction: row; */
}

.header-searchbar {
  width: 323px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  opacity: 0.2;
  background: #fff;
  position: relative;
  left: 75%;
  top: 14px;
}

#search {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  left: 10px;
  display: inline-block;
}

#searchbar-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  position: absolute;
  top: 50%; /* This will center the icon vertically */
  left: 300px; /* This will position the icon 10px from the left */
  transform: translateY(
    -50%
  ); /* This will perfectly center the icon vertically */
  background-image: url("pictures/search.svg");
}

.after-header-container {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 41px;
  margin-top: 16px;
}

#after-header-h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

#after-header-button {
  width: 219px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #dd1f1c;
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: background 0.3s ease;
  cursor: pointer;
}

#after-header-button:hover {
  background: #402993;
}

.line-after-after-header {
  border-top: 1px solid black;
  width: 79vw;
  height: 1px;
  opacity: 0.24;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 23px;
  margin-left: 41px;
}

.table-header-container {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 44px;
  margin-top: 16px;
  padding-right: 50px;
  margin-right: 20px;
}

.table-header-container h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  display: flex;
  width: 500px;
  padding: 40px 40px 51px 40px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  border-radius: 30px;
  background: #f9f0f0;
}
.popup-content h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popup-content h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup-content input {
  width: 420px;
  height: 46px;
  background: #d9d9d9;
  border: none;
  display: flex;
  justify-content: center;
}

#popup-submit-button {
  width: 219px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #402993;
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: background 0.3s ease;
  cursor: pointer;
}

#popup-submit-button:hover {
  background: #dd1f1c;
}

.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 41px;
}

.task-info-container {
  flex-shrink: 0;
  border-radius: 5px;
  background: #f9f0f0;
  display: flex;
}

.task-1,
.task-2 {
  width: 100%;
  height: 85px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f9f0f0;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 190px;
  margin-left: 20px;
}

.task-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
}
.edit {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  background-image: url("pictures/pen.svg");
}

.delete {
  width: 26px;
  height: 28px;
  flex-shrink: 0;
  background-image: url("pictures/trash.svg");
  margin-left: 30px;
}
.delete:hover {
  /* Add your hover styles here */
  opacity: 0.7;
}

.delete:active {
  /* Add your click styles here */
  opacity: 0.5;
}
