*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container{
    display: flex;

}

.right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-container{
    width: 16vw;
    min-height: 100vh;
    flex-shrink: 0; 
    flex-wrap: wrap;
    background: #D9D9D9;
}


.sidebar-logo{
    width: 269px;
    height: 154px;
    flex-shrink: 0; 
    border-radius: 77px;
    background-image: url('kupler-removebg.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 46px;
    position: relative;
}

h1{
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

#create{
    position: relative;
    top: 352px;
    left: 89px;
    right: 90px;
}

#read{
    position: relative;
    top: 408px;
    left: 101px;
    right: 103px;
}

#update{
    position: relative;
    top: 464px;
    left: 87px;
    right: 88px;
}

#delete{
    position: relative;
    top: 520px;
    left: 89px;
    right: 92px;
}

.header-container{
    width: 100%;
    height: 60px;
    flex-shrink: 0; 
    background: #E4E4E4; 
    /* display: flex;
    flex-direction: row; */
}

.header-searchbar{
    width: 323px;
    height: 33px;
    flex-shrink: 0; 
    border-radius: 20px;
    border: 1px solid #000;
    opacity: 0.2;
    background: #FFF; 
    position: relative;
    left: 75%;
    top: 14px;

}

#search{
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    opacity: 0.5;
    position: relative; 
    left: 10px;
    display: inline-block;
}

#searchbar-icon{
    width: 14px;
    height: 14px;
    flex-shrink: 0; 
    position: absolute;
    top: 50%; /* This will center the icon vertically */
    left: 300px; /* This will position the icon 10px from the left */
    transform: translateY(-50%); /* This will perfectly center the icon vertically */
}

.after-header-container{
    width: 100%;
    height: 58px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 41px; 
    margin-top: 16px;
}

#after-header-h1{
    color: #000;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    display: inline-block;
}

#after-header-button{
    width: 219px;
    height: 58px;
    flex-shrink: 0; 
    border-radius: 5px;
    background: #DD1F1C;    
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    transition: background 0.3s ease;
    cursor: pointer;
}

#after-header-button:hover{
    background: #402993; 
}

.line-after-after-header{
    border-top: 1px solid black;
    width: 79vw;
    height: 1px; 
    opacity: 0.24;
    background: rgba(0, 0, 0, 0.80);
    margin-top: 23px;
    margin-left: 41px;
}

.table-header-container{
    width: 100%;
    height: 58px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 41px; 
    margin-top: 16px;
    padding-right: 50px;
    margin-right: 20px;
}

.table-header-container h1{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }